body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #2c3e50;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-container {
    /* Center the form horizontally */
    margin: 0 auto;
    /* Set a maximum width for the form */
    max-width: 500px;
    padding: 20px;
    border: 1px solid #ccc; /* Optional border */
    border-radius: 4px; /* Optional rounded corners */
  }
  form{
    padding-left: 400px;
    padding-right: 400px;
  }
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea,
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  textarea {
    height: 100px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45A049; 
  }
  